// =====================================
// Images
// =====================================

.img {
    &-frame{
        max-width: 100%;
        margin: 20px 0;
        padding: 10px;
        border: 1px solid black;
    }
    &-avatar {
        max-width:100%;
        padding: 5%;
    }
    @media (min-width: $brkpt){
        @include mq('reg'){
            &-logo {
                margin-left: 50px;
                transform: scale(1.1);
            }
        }
    }
}